.a_container{
	width: 1105px;
	margin: 0 auto;
}
/* 头部 */
.head{
	min-width: 1350px;
    height:42px;
    background-color:#333;
	margin: 0 auto;
}
.head a{color:#fff ;
font-size: 12px;
margin-left: 40px;
padding: 10px;
line-height: 42px;}
/* 关注,下载 */
.a_left{
	float: left;
	width: 180px;
	height: 42px;
}
.a_left a{
	color: #FFFFFF;
}
.a_left a:hover{
	opacity: 0.5;
}
/* .a_content{position: relative;} */
/* 划过显示 */
.a_leftH{
	position: absolute;
	top:42px;
	left: 98px;
	width:120px ;
	height: 120px;
	display: none;
}
.a_leftH a{display: block;
	width:120px ;
	height: 120px;
	border: 2px solid #eee;
	padding: 5px;}
.a_leftH img{width:120px ;
	height: 120px;}
.a_left a:hover .a_leftH{display: block;}
/* 右侧登录 */
.a_right{
	width: 445px;
	float: right;
	display: flex;
	height: 42px;
	justify-content: space-around;
	margin-left: 100px;
}
.a_right a{
	color: #FFFFFF;
	line-height: 42px;
	display: inline-block;
	width: 40px;
	height: 42px;
	margin-top: -8px;
}
.a_right a:hover{
	opacity: 0.5;
}
/* logo区 */
.logo{
	height:231px;
	background-color: #fff;
	margin: 0 auto;
}
.logo img{width: 98px;
height: 58px;
margin:0 auto;
margin-top: 60px;}
.logo a{
	display: block;
	width: 98px;
	height: 58px;
	margin:  0 auto;
}
/* 导航 */
.a_nav{
	width: 1920px;
	height: 42px;
	border-bottom: 1px solid #eee;
	margin:0 auto;
}
.a1_nav{
	height: 42px;
	float: left;
}
.a1_nav a{line-height: 42px;
font-size:20px ;
font-weight: bold;
color: #333;
padding:40px;
box-sizing: border-box;
}
.a1_nav a:hover{
	color: #f50014;
}
/* 悬浮导航 */
.a2_nav{width: 1350px;
height:55px ;
margin-left: 10px;
border-bottom: 2px solid #000;
display: none;}
.a2_nav a{line-height: 55px;
font-size:20px ;
font-weight: bold;
color: #333;
padding:30px;
display: inline-block;
width: ;
height: 55px;
box-sizing: border-box;
}
.a2_nav img{width: 66px;
height: 55px;}
/* 搜索框 */
.a_login{
	float: left;
	width:188px ;
	height: 36px;
	border-bottom: 1px solid #333333;
	margin-left: 60px;
}
.a_login input{
	width:154px ;
	height: 42px;
	border-bottom: 2px solid #000;
	outline:medium;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	background-image: url(../img/fdj.jpg) no repeat right;
}
.a_login img{width: 34px;
height: 25px;
background-color: #FFFFFF;
}
.a_login a{display: block;
width: 22px;
height: 22px;
float: right;
background-color: #FFFFFF;}
/* 底部 */
.footer{
	background: #333333;
	height: 576px;
	min-width: 1920px;
}