html,body,ul,li,form,input,span,ol,li,dl,dd,dt,table,tr,td,p,h1,h2,h3,h4,h5,
h6,img,a,em,i,b{padding: 0;margin: 0;}
ul li,ol li{list-style: none;}
a{text-decoration: none;color:#666;cursor: pointer;}
a:hover{
	text-decoration: underline;
}
img{
	border: none;
}
i,em{
	font-style: normal;
}
h2,h3{
	font-weight: normal;
}
body{
	font-family: "微软雅黑" ;font-size:12px;
}
.clearfix:after{
	content:"";clear: both;display: block;font-size: 0;height: 0;
	overflow: hidden;visibility: hidden;
}
#header-vue{
	width: 100%;
	height: 40px;
	background: #333;
	font-size: 12px;	
}
#header-vue-left{
	margin-left: 120px;
	width: 150px;
	height: 40px;
	float: left;
}
#header-vue-left a{
	line-height: 40px;
	color: #FFFFFF;	
	padding-left: 20px;
}
#header-vue-left a:hover{opacity: 0.5;
text-decoration: none;}
#header-vue-left ul{
	position: relative;
}
#header-vue-left ul li{
	position: absolute;
	display: none;
	height: 200px;
	text-align: center;
}
#header-vue-right{
	float: right;
	margin-right: 120px;
}
#header-vue-right a:hover{opacity: 0.5;
text-decoration: none;}
#header-vue-right>ol{
	width: 260px;
}
#header-vue-right>ol>li{
	line-height: 40px;
	text-align:center;
	margin-right: 10px;
	margin-left: 10px;
	float: left;
	color: white;
}
#header-vue-right>ol li a{
	color: #FFFFFF;
}
/* logo区 */
.a_container{
	width: 1150px;
	margin: 0 auto;
}
.logo{
	height:231px;
	background-color: #fff;
	margin: 0 auto;
	
	box-sizing: border-box;
}
.logo img{width: 98px;
height: 58px;
margin:0 auto;
margin-top: 60px;}
.logo a{
	display: block;
	width: 98px;
	height: 58px;
	margin:  0 auto;
}
#notice{
	position: relative;
}
#notice-hd{
	width: 260px;
	height: 58px;
	position: absolute;
	right: 0px;
	top:40px;
	display: none;
}
#notice-hd li{
	height: 30px;
	text-align:center;
	border: 1px solid #E7E1CD;
	line-height: 30px;
}
#container_n{
	width: 1190px;
	height: 58px;
	margin: 0 auto;
}
#nav{
	height: 60px;
}
#nav-buttom{
	height: 50px;	
}
#nav-all{
	overflow: hidden;
}
.nav-head{
	width: 930px;
	height: 50px;
	float: left;
}
.nav-head li{
	float: left;
	width: 110px;
	font-size: 20px;
	line-height: 50px;
	font-weight: 700;
}
.search{
	float: right;
	line-height: 50px;
	margin-left: -20px;
}
.search li{
	margin-top: -10px;
	border-bottom: 1px solid #333333;
}
.keyword{
	border:0;
	outline: none;
}
.btn-search{
	width: 20px;
	height: 20px;
}
.nav-down{
	position: absolute;
	width: 1190px;
	height: 260px;
	display: none;
	background: #FFFFFF;
}
.nav-down ul{
	float: left;
	width: 20%;
	padding-left: 20px;
	box-sizing: border-box;
}
.nav-down a{
	color: #333;
}
.nav-down ul li span{
	display: block;
	margin:0 20px 10px 0
}
.nav-down ul li{
	margin-bottom: 10px;
}
.a_banner{width: 1350px;
margin: 0 auto;
}
.a_banner img{width: 1350px;
height: 550px;
margin:  0 auto;
}
.a_banner a{
	display: block;
	width: 1350px;
	height: 550px;
	margin: 0 auto;
}
.a_pic{
	height: 500px;
	margin: auto;
}
.a_swiperBox{
	
	height: 500px;
	margin: 0 auto;
	padding: 10px;
	box-sizing: border-box;
	overflow: hidden;
}
.a_swiperBox ul li{
	width: 240px;
	height: 400px;
	float: left;
	padding: 10px;
}
.a_swiperBox ul{float: left;
width:1184px;
height: 500px;
padding: 30px;}
.a_swiperBox ul li img{width: 100%;
height: 100%;}
.a_swiperBox  h1{margin: 0 auto;
margin-left: 80px;
line-height: 55px;
font-size: 20px;
color: #000000;
font-weight: bold;}
.a_swiperBox  h2{margin-left: 80px;
line-height: 45px;
font-size: 16px;
color: #gray;}
.a_swiperBox span{margin-left: 80px;
line-height: 35px;
font-size: 18px;
color: red;}
.a_swiperBox ul{width: 1150px;}
.a_swiperBox ul li a{display: inline-block;
width: 240px;
height: 240px;}
.a_swiperBox ul li:hover{border:3px solid #E6E6E6;
border-bottom:10px solid #eee;}
.a_title{
	width: 256px;
	height: 130px;
}
.a_title h1{
	font-size: 40px;
	color: #000000;
	font-weight: bold;
	margin: 0 auto;
	line-height: 100px;
	margin-top: 55px;
	text-align: center;
}
.a_title p{text-align: center;
color: #333;
font-size: 14px;}
.a_title1{
	width: 256px;
	height: 130px;
}
.a_title1 h1{
	font-size: 40px;
	color: #000000;
	font-weight: bold;
	margin: 0 auto;
	line-height: 100px;
	margin-top: 55px;
	text-align: center;
}
.a_title1 p{text-align: center;
color: #333;
font-size: 14px;}
.a_title2{
	width: 256px;
	height: 150px;
}
.a_title2 h1{
	font-size: 40px;
	color: #000000;
	font-weight: bold;
	margin: 0 auto;
	line-height: 100px;
	margin-top: 55px;
	text-align: center;
}
.a_title2 p{text-align: center;
color: #333;
font-size: 14px;}
.a_downpic{display: flex;
justify-content: space-around;
margin: 50px auto;
margin-bottom: 50px;
box-sizing: border-box;} 
.a_downpic img:hover{opacity: 0.5;
border-radius: 50%;}
.a_downvideo{width: 1078px;
height: 450px;
margin-top: 30px;
margin-bottom: 30px;
display: flex;
justify-content: space-around;
margin-bottom: 30px;}
.a_downvideo video{margin: 0 auto;
object-fit:fill;
}
.a_downvideo video:hover{}
.a_pho{
	width: 1150px;
	height: 550px;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	box-sizing: border-box;
}
.a_pho a{
	display: inline-block;
	width: 312px;
	height: 403px;
	margin-top: 80px;
	position: relative;
}
.a_pho img{
	width: 312px;
	height: 403px;
	position: relative;
}
.a_phoimg{display: none;
position: absolute;
left: 0;
top:0;
right: 0;
bottom: 0;
width: 312px;
height: 403px;
background-color: #000000;
opacity: 0.5;
}
.a_pho img:hover {width: 350px;
height: 450px;
border: 2px solid #55A532;
}
.a_vio{display: flex;
justify-content: space-around;}
.a_vio video:hover{opacity: 0.5;}
.a_vio img:hover{opacity: 0.5;}
#a_box {
      position: fixed;
      right: 5px;
      bottom: 5px;
      width: 120px;
      height: 45px;
      text-align: center;
      line-height: 45px;
      background-color: #6ff;
      border-radius: 5px;
    }