.a_banner{width: 1350px;
margin: 0 auto;
}
.a_banner img{width: 1350px;
height: 550px;
margin:  0 auto;
}
.a_banner a{
	display: block;
	width: 1350px;
	height: 550px;
	margin: 0 auto;
}
/* 标题一 */
.a_title{
	width: 256px;
	height: 230px;
}
.a_title h1{
	font-size: 40px;
	color: #000000;
	font-weight: bold;
	margin: 0 auto;
	line-height: 100px;
	margin-top: 55px;
	text-align: center;
}
.a_title p{text-align: center;
color: #333;
font-size: 14px;}
/* 轮播图 */
.a_pic{
	height: 500px;
	margin: auto;
}
.a_swiperBox{
	width: 5000px;
	height: 500px;
	margin: 0 auto;
	padding: 10px;
	box-sizing: border-box;
	overflow: hidden;
}
.a_swiperBox ul li{
	width: 240px;
	height: 400px;
	float: left;
	padding: 10px;
}
.a_swiperBox ul{float: left;
width:1184px;
height: 500px;
padding: 50px;}
.a_swiperBox ul li img{width: 100%;
height: 100%;}
.a_swiperBox  h1{margin: 0 auto;
margin-left: 80px;
line-height: 55px;
font-size: 20px;
color: #000000;
font-weight: bold;}
.a_swiperBox  h2{margin-left: 80px;
line-height: 45px;
font-size: 16px;
color: #gray;}
.a_swiperBox span{margin-left: 80px;
line-height: 35px;
font-size: 18px;
color: red;}
.a_swiperBox ul li a{display: inline-block;
width: 240px;
height: 240px;}
.a_swiperBox ul li:hover{border:3px solid #E6E6E6;
border-bottom:10px solid #eee;}
.a_jiantou1{font-size: 48px;
background-color: #666666;
opacity: 0.5;
margin-left: 10px;
margin-top: 250px;}
/* 标题二 */
.a_title1{
	width: 256px;
	height: 230px;
}
.a_title1 h1{
	font-size: 40px;
	color: #000000;
	font-weight: bold;
	margin: 0 auto;
	line-height: 100px;
	margin-top: 55px;
	text-align: center;
}
.a_title1 p{text-align: center;
color: #333;
font-size: 14px;}
.a_pho{
	height: 550px;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	box-sizing: border-box;
}
.a_pho a{
	display: inline-block;
	width: 312px;
	height: 403px;
	margin-left: 16px;
	margin-top: 80px;
}
.a_pho img{
	width: 312px;
	height: 403px;
}
.a_vio{display: flex;
justify-content: space-around;}
.a_downpic{
	display: flex;
	justify-content: space-around;
	margin: 0 auto;
}
.a_downpic video{background-color: #000000;}
.a_downpic a{margin-top: 50px;
width: 1184px;
height: 490px;}
.a_downvideo{margin:0 auto;}
/* 返回顶部 */
#a_box {
      position: fixed;
      right: 5px;
      bottom: 5px;
      width: 120px;
      height: 45px;
      text-align: center;
      line-height: 45px;
      background-color: #6ff;
      border-radius: 5px;
    }