.filter-wrap {
    width: 1190px;
    margin: 0 auto;
}

.filter-wrap .filter-title-list {
    padding: 30px 0 20px;
    font-size: 12px;
    color: #333;
}

.filter-wrap .filter-title-list .menu-list {
    display: inline-block;
}

.filter-wrap .filter-title-list .menu-list>li {
    float: left;
}

.filter-wrap .filter-title-list .menu-list>li>a {
    text-decoration: none;
    font-weight: bold;
    color: #333;
}

.filter-wrap .filter-sub-wrap {
    margin-bottom: 20px;
    width: 100%;
    overflow: hidden;
}

.filter-wrap .filter-sub-wrap .filter-sub-navlist {
    width: 180px;
    font-size: 20px;
    color: #000;
    float: left;
}

.filter-wrap .filter-sub-wrap .filter-sub-navlist>p {
    color: #666;
    font-size: 12px;
    margin-top: 45px;
}

.filter-wrap .filter-sub-wrap .filter-sub-navlist .filter-list-wrap {
    font-size: 12px;
    color: #333;
    margin-top: 25px;
}

.filter-wrap .filter-sub-wrap .filter-sub-navlist .filter-list-wrap>li {
    padding-top: 10px;
    cursor: pointer;
}

.filter-wrap .filter-sub-wrap .filter-sub-navlist .filter-list-wrap>li>p {
    font-size: 12px;
    color: #333;
    font-weight: bold;
}

.filter-wrap .filter-sub-wrap .filter-sub-navlist .filter-list-wrap>li>p>i {
    width: 10px;
    height: 10px;
    background: url('../img/css_sprites.png') -212px -124px;
    display: inline-block;
    margin-right: 9px;
    float: left;
    margin-top: 3px;
}

.filter-wrap .filter-sub-wrap .filter-sub-navlist .filter-list-wrap>li>div {
    margin: 10px 0;
    display: none;
}

.filter-wrap .filter-sub-wrap .filter-sub-navlist .filter-list-wrap>li>div .brand_name {
    padding-left: 10px;
}

.filter-sub-navlist .filter-list-wrap>li>div .brand_name .filter-more,
.filter-sub-navlist .filter-list-wrap>li>div .brand_name .filter-less {
    margin-left: 50px;
    display: none;
}

.filter-sub-navlist .filter-list-wrap>li>div .brand_name .filter-more {
    display: block;
}

.filter-sub-navlist .filter-list-wrap>li>div .brand_name .filter-more>span,
.filter-sub-navlist .filter-list-wrap>li>div .brand_name .filter-less>span {
    display: block;
    width: 10px;
    height: 6px;
    background: url('../img/css_sprites.png') -212px -154px;
}

.filter-sub-navlist .filter-list-wrap>li>div .brand_name .filter-less>span {
    background: url('../img/css_sprites.png') -212px -179px;
}

.filter-sub-navlist .filter-list-wrap>li>div .brand_name>li {
    margin-top: 10px;
    font-weight: normal;
}

.filter-sub-navlist .filter-list-wrap>li>div .brand_name>li>a {
    display: inline-block;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #666;
    padding-left: 20px;
}

.filter-sub-navlist .filter-list-wrap>li>div .brand_name>li>a:hover {
    font-weight: bold;
}

.filter-wrap .filter-sub-wrap .filter-sub-content {
    float: right;
    width: 1010px;
}
.filter-wrap .filter-sub-wrap .filter-sub-content .brand-wrap{
    width: 100%;
    text-align: right;
    font-size: 16px;
    color: #666;
}
.filter-wrap .filter-sub-wrap .filter-sub-content .brand-wrap>div{
    height: 45px;
    line-height: 45px;
}
.filter-wrap .filter-sub-wrap .filter-sub-content .brand-wrap div img.brand-img{
    width: 64px;
    height: 34px;
    margin-top: 7px;
}
.filter-wrap .filter-sub-wrap .filter-sub-content .brand-wrap div span{
    float: right;
    font-size: 16px;
    color: #666;
}
.filter-wrap .filter-sub-wrap .filter-sub-content .brand-wrap>p{
    font-size: 12px;
    color: #333;
    text-align: left;
    margin-top: 10px;
    line-height: 1.8;
    padding: 0 10px 0 30px;
}

.filter-wrap .filter-sub-wrap .filter-sub-content .sub-wrap {
    margin-top: 20px;
}

.filter-wrap .filter-sub-wrap .filter-sub-content .sub-wrap .sub-tab-title {
    border-bottom: 1px solid #eee;
    overflow: hidden;
    height: 50px;
    line-height: 50px;
}

.sub-wrap .sub-tab-title .sub-title-tab {
    float: left;
}

.sub-wrap .sub-tab-title .sub-title-tab>li {
    display: inline-block;
    font-size: 14px;
    padding: 0 30px;
}

.sub-wrap .sub-tab-title .sub-title-tab>li>a {
    color: #333;
}

.sub-wrap .sub-tab-title .sub-title-tab>li>a:hover {
    text-decoration: underline;
    font-weight: bold;
}

/* 激活 */
.sub-title-tab-linkA {
    text-decoration: underline;
    font-weight: bold;
}

.sub-wrap .sub-tab-title .page-sum {
    float: right;
    font-size: 12px;
    color: #999;
    margin-right: 30px;
}
.sub-wrap .sub-tab-title .page-sum>a{
    float: right;
    font-size: 12px;
    color: #999;
    margin-right: 5px;
}
.sub-wrap .sub-tab-title .page-sum>a:hover{
    text-decoration: underline;
    color: #666;
}

.sub-wrap .sub-goods-list {
    margin: 30px auto 0 auto;
    width: 100%;
}

.sub-wrap .sub-goods-list>ul>li {
    display: inline-block;
    width: 230px;
    height: 400px;
    padding: 10px;
    background: #fff;
    color: #333;
    text-align: center;
    position: relative;
    margin-right: 0;
    margin-top: 0;
}

.sub-wrap .sub-goods-list>ul>li:hover {
    background: #f6f6f6;
}

.sub-wrap .sub-goods-list>ul>li .goods-head {
    padding-top: 33px;
    padding-bottom: 33px;
    font-size: 0;
    width: 230px;
    height: 230px;
    background: #fff;
}

.sub-wrap .sub-goods-list>ul>li .goods-head>a>img {
    max-width: 230px;
    max-height: 230px;
    background: #eee;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border: 0;
}

.sub-wrap .sub-goods-list>ul>li .goods-head>a {
    display: block;
    width: 230px;
    height: 230px;
    background: #eee;
    position: relative;
}

.sub-wrap .sub-goods-list>ul>li .goods-desc {
    text-align: center;
    font-size: 12px;
    color: #333;
    font-style: normal;
    margin: 0 auto;
    padding: 15px 10px 25px;
}

.sub-wrap .sub-goods-list>ul>li .goods-desc .nptt {
    height: 46px;
    overflow: hidden;
    color: #aaa;
    line-height: 1.8;
    display: block;
    text-align: center;
    text-overflow: ellipsis;
}

.sub-wrap .sub-goods-list>ul>li .goods-desc {
    white-space: normal;
    overflow: hidden;
    display: inline-block;
    margin-top: 10px;
    font: 13px/1.5 Microsoft YaHei, '宋体', tahoma, arial, Hiragino Sans GB, sans-serif;
    position: relative;
    text-align: center;
}

.sub-wrap .sub-goods-list>ul>li .goods-desc>p {
    overflow: hidden;
    text-align: center;
}

.sub-wrap .sub-goods-list>ul>li .goods-desc .now-price {
    font-size: 10px;
    color: #333;
    font-weight: bold;
    font-family: arial, '微软雅黑';
}

.sub-wrap .sub-goods-list>ul>li .goods-desc .now-price i {
    font-style: normal;
    font-size: 16px;
    font-weight: bold;
}

.sub-wrap .sub-goods-list>ul>li .goods-desc .origin-price {
    font-size: 10px;
    color: #ccc;
    margin-left: 10px;
    margin-top: 1px;
    margin: 0 8px;
    font-family: arial, '微软雅黑';
    text-decoration: line-through;
}

.sub-wrap .sub-goods-list>ul>li .goods-desc .origin-price i {
    font-size: 14px;
    font-style: normal;
}

.now-pages {
    margin: 0 auto;
    text-align: center;
    width: 1190px;
    padding-top: 40px;
    height: 40px;
}

.now-pages .pages {
    margin-bottom: 20px;
    margin-right: 40px;
    float: right;
}

.now-pages .pages>a {
    height: 27px;
    line-height: 27px;
    font-size: 14px;
    color: #333;
    padding: 0 6px;
    min-width: 15px;
    margin: 0 6px;
    border-left: none;
    text-align: center;
    overflow: hidden;
    float: left;
    display: inline-block;
}

.curr {
    background: #333;
    color: #fff !important;
}

.arrow-up{
    background: url(../img/arrow_up.png) no-repeat 65px 20px;
}
.arrow-down{
    background: url(../img/arrow_down.png) no-repeat 65px 20px;
}

.goods-desc em.collect {
    display: none;
    position: absolute;
    bottom: 20px;
    right: 22px;
    width: 19px;
    height: 19px;
    background: url(../img/css_sprites.png) -10px -104px;
}
.goods-container>li:hover .goods-desc em.collect{
    display: block;
}